@import url('https://fonts.googleapis.com/css2?family=Yesteryear&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Yesteryear&display=swap');
:root{
    --vertical-space: 2rem;
    --horizontal-space: 3rem;
    --body-color:#877b8b;
    --light-color:#ecd5f7;
    --heading-color:#603D70;
    --contrast-color:#A630F0;
}
body{
    font-size: 18px;
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--light-color); 
   color: var(--body-color);
}
 a{
     color:var(--heading-color);
     text-decoration-color: var(--contrast-color);
 }
 a:hover{
     color:var(--contrast-color)
 }
 h1{
     margin: 0;
     margin-bottom: 15px;
 }
h1,h2,h3{
    line-height: 1;
    font-family: 'Yesteryear', cursive;
    color: var(--heading-color);
}
h2{
    color:#73388f;
}
h3{
    color: #923eb9;
}
button{
    background-color:var(--light-color);
    border: none;
    color: var(--contrast-color);
}

body#about img{
    height: 15em;
    float: right;
    margin-right: 300px;
    box-shadow: -3px 5px 4px 0px rgba(0,0,0,0.74);
}
p{
    max-width: 50em;
}


body{
    display: grid;
    grid-template-areas: "head head"
                         "nav  nav"
                         "main main"
                         "foot foot";
    grid-template-columns: auto 4fr;
    grid-template-rows: auto auto 1fr auto;
}
@media screen and (min-width: 25em) {
    body{
        grid-template-areas: "head nav"
                             "main main"
                             "foot foot";
        grid-template-rows: auto auto 1t auto;
    }
    
    
}
body > * {
    padding-left:var(--horizontal-space);
    padding-right:var(--horizontal-space);
    
}
body > header{
    grid-area: head;
}
body > nav{
    grid-area: nav;
    
}
body>main> *:first-child{
    border-top: 2px solid var(--heading-color);
    padding-top: var(--vertical-space);
}
body>nav ul
{
    list-style-type: none ;
    padding: 0;
    margin: 36px;
    float: right;
    
}
body>nav ul li{
    display: inline-block;
    padding-right: 1em;

}
body > main{
    grid-area: main;
}
body > footer{
    grid-area: foot;
}
header, footer{
    padding-top:var(--vertical-space);
    padding-bottom: var(--vertical-space);
}
header h1,footer h1{
    margin: 0;
}

body#portfolio ul#portfolioItems{
    display: flex;
    flex-wrap: wrap;
    flex:1;
    list-style-type: none;
    padding: 0;
}
@media screen and (min-width: 25em) {
body#portfolio ul#portfolioItems li{
    flex-basis: 48%;
    padding-right: 2%;
}
}
body#portfolio ul#portfolioItems li img{
    max-width: 100%;
}